{% extends "header.html" %}

{% block body %}
<div class="container">

 <div class="row">

  <div class="col-md-9">
    {%for items in kart_info%}
    <ul>
      <img src="/static/{{items[4]}}" width="100" height="100" alt="">
      <li>{{items[1]}}</li>
      Quantity: {{items[-1]}} <br>
      Total Cost: {{items[2]*items[-1]}}
    </ul>

    {%endfor%}
     
  </div> <!-- end of col-md-9-->

  
</div> <!-- end of row -->

</div> <!-- end of container-->


{% endblock %}